* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1em;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(234, 234, 234);
    width: 100%;
    margin: 5% auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    background-color: rgb(0, 7, 53);
    color: white;
    padding: 0 1em;
}

.nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .4em;
}

.nav li a:hover {
    color: rgb(190, 190, 190);
    transition: 0.3s ease;
}

.container {
    text-align: center;
}

.site-logo {
    height: 5em;
    margin: 2% 0 2% 5%;
}


                                                /* HOME.JS  */
#home-banner {
    background-image: url("https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position-x: center;
    background-position-y: 80%;
    height: 32em;
    width: 100%;
    max-width: 100%;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#home-banner-text {
    color: white;
    font-size: 2.3em;
    text-shadow: 1px 1px 10px rgb(29, 29, 29);
}

#mission-statement {
    /* background-color: red; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* width: 950px; */
    width: 50%;
    margin: 0 auto;
    padding: 16px;
    vertical-align: baseline;
}

#mission-statement-header {
    text-align: left;
    margin-bottom: 3%;
    font-size: 1.2em;
    color: rgb(0, 7, 53);
}

.section-container {
    /* background-color: blue; */
    text-align: left;
    font-size: 1.05em;
    line-height: 28px;
    letter-spacing: 0.2px;
}

#programs-header {
    text-align: center;
    margin-bottom: 3%;
    font-size: 1.5em;
    color: rgb(0, 7, 53);
}

#programs-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px; 
    padding: 1%;
    /* background-color: red; */
}

.program-items {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    padding: 0;
    /* background-color: green; */
}

.program-items img {
    width: 70%;
    position: relative;
    border-radius: 5px;
    margin: auto;
}

.program-details {
    padding: 1%;
    display: grid;
    grid-template-rows: auto 1fr 10px;
    row-gap: 5px;
    width: 80%;
    margin: auto;
    /* background-color: yellow; */
}

.program-details-sub h3 {
    margin-bottom: 2%;
    font-size: 1.6em;
    color: rgb(0, 7, 53);
} 

#contact-information {
    width: 60%;
    /* background-color: red; */
    margin: 0 auto;
    padding: 16px;
    vertical-align: baseline;
}

#contact-header {
    text-align: center;
    margin-bottom: 3%;
    font-size: 1.2em;
    color: rgb(0, 7, 53);
}

#contact-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3em;
}

.contact-items {
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 1%;
    padding: 16px;
    min-height: 50vh;
    row-gap: 5px;
    
}

.contact-items-image img {
    width: 50%;
    position: relative;
    margin: auto;
}

.contact-items-info {
    margin-top: 3%;
}

.contact-items:hover {
    background-color: rgb(234, 234, 234);
    transition: 0.4s ease;
    cursor: pointer;
}

.contact-items h5 {
    margin-top: 5%;
}

.contact-items p {
    font-size: 1.1em;
    color: rgb(0, 7, 53);
    font-weight: 800;
}

.contact-items span {
    font-weight: 300;
    color: black;
}

.contact-items-info a {
    margin: 1%;
    color: rgb(0, 7, 53);
}

.contact-items-info a:hover {
    color: rgb(0, 7, 202);
    transition: 0.4 ease;
}

#action-banner {
    background-image: linear-gradient(to bottom, transparent, rgb(0, 13, 101)),
    url("https://images.unsplash.com/photo-1580894894513-541e068a3e2b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position-x: center;
    background-position-y: 40%;
    height: 33em;
    width: 100%;
    max-width: 100%;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#action-banner-text {
    color: white;
    font-size: 2.2em;
    width: 30em;
    padding: 1%;
    text-shadow: 1px 1px 10px rgb(29, 29, 29);
}

#request-Btn {
    font-size: 0.7em;
    margin-top: 3%;
    background-color: rgb(0, 16, 139);
    border: none;
    border-radius: 8px;
    padding: 1% 3%;
    font-weight: bolder;
    color: white;
}

#request-Btn:hover {
    background-color: rgb(0, 0, 215);
    transition: 0.3s ease;
    cursor: pointer;
}
