* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1em;
}

hr {
    border: none;
    height: 2px;
    background-color: rgb(234, 234, 234);
    width: 100%;
    margin: 5% auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    background-color: rgb(0, 7, 53);
    color: white;
    padding: 0 1em;
}

.nav ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .4em;
}

.nav li a:hover {
    color: rgb(190, 190, 190);
    transition: 0.3s ease;
}

.container {
    text-align: center;
}

.site-logo {
    height: 5em;
    margin: 2% 0 2% 5%;
}


                                                /* HOME.JS  */
#home-banner {
    background-image: url("https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position-x: center;
    background-position-y: 80%;
    height: 32em;
    width: 100%;
    max-width: 100%;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#home-banner-text {
    color: white;
    font-size: 2.3em;
    text-shadow: 1px 1px 10px rgb(29, 29, 29);
}

#mission-statement {
    /* background-color: red; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    /* width: 950px; */
    width: 50%;
    margin: 0 auto;
    padding: 16px;
    vertical-align: baseline;
}

#mission-statement-header {
    text-align: left;
    margin-bottom: 3%;
    font-size: 1.2em;
}

.section-container {
    /* background-color: blue; */
    text-align: left;
    font-size: 1.05em;
    line-height: 28px;
    letter-spacing: 0.2px;
}